package components

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Hello</title>
			<link href="src/styles.css" rel="stylesheet"/>
			<script defer type="module" src="src/index.js"></script>
		</head>
		<body x-data="{ currentPage: 'home' }">
			@Navbar()
			@Home()
			@FoodBase()
		</body>
	</html>
}
