package components

templ Navbar() {
	<nav>
		@NavHome()
		@NavFood()
	</nav>
}

templ NavHome() {
	<div class="">
		<p class="">Home</p>
	</div>
}

templ NavFood() {
	<div class="">
		<p>Food</p>
	</div>
}
